@model List<TaskModel>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<h2>Rapor</h2>

<table class="table" style="width: 1300px;">
    <thead>
        <tr>
            <th scope="col">Kişi</th>
            <th scope="col">Aktif İşler</th>
            <th scope="col">Tamamlanan İşler</th>
            <th scope="col">Toplam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Username</td>
                <td>@task.Status</td>
                <td>@task.Status</td>
                <td>@task.CreateTime</td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
<h2>Tüm İşler</h2>
    <table class="table" style="width: 1300px;">
    <thead>
        <tr>
            <th scope="col">İş</th>
            <th scope="col">Durumu</th>
            <th scope="col">Çalışan</th>
            <th scope="col">Oluşturulma Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>
                    <a href="home/task/@task.Id">
                        <p>@task.Name</p>
                    </a>
                </td>
                <td>@task.Status</td>
                <td>@task.Username</td>
                <td>@task.CreateTime</td>
            </tr>
        }
    </tbody>
    </table>